<!-- _includes/head.html -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

<title>{%- if page.title -%}{{ page.title | escape }}{%- else -%}{{ site.title | escape }}{%- endif -%}</title>

<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,800,800i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">

<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="/feed.xml">

<!-- Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
