<h2>Latest Forum Topics</h2>

<div class="topic-list">
  <article class="topic">
    <header>
      <h3 class="topic-title">
        <a href="#">These are just static placeholders</a>
      </h3>
      <span class="topic-updated">1 hour 17 minutes ago</span>
      <span class="topic-category">In <a href="#">Public Forum</a> / <a href="#">Help for version 2.0</a></span>
      <span class="topic-updater">Last post by richard</span>
    </header>
  </article>
  <article class="topic">
    <header>
      <h3 class="topic-title">
        <a href="#">[SOLVED] 404 Not Found error after upgrade to 2.00</a>
      </h3>
      <span class="topic-updated">1 hour 39 minutes ago</span>
      <span class="topic-category">In <a href="#">Public Forum</a> / <a href="#">Help for version 2.0</a></span>
      <span class="topic-updater">Last post by richard</span>
  </header>
</article>
<article class="topic">
  <header>
    <h3 class="topic-title">
      <a href="#">Old existing bookmarks don't work</a>
    </h3>
    <span class="topic-updated">3 hours 18 minutes ago</span>
      <span class="topic-category">In <a href="#">Public Forum</a> / <a href="#">Help for version 2.0</a></span>
      <span class="topic-updater">Last post by Andreas</span>
  </header>
</article>
<article class="topic">
  <header>
    <h3 class="topic-title">
      <a href="#">Problem with some media files</a>
    </h3>
    <span class="topic-updated">4 hours 30 minutes ago</span>
      <span class="topic-category">In <a href="#">Public Forum</a> / <a href="#">Help for version 2.0</a></span>
      <span class="topic-updater">Last post by norwegian_sardines</span>
</header>
</article>
<article class="topic">
  <header>
    <h3 class="topic-title">
      <a href="#">Database error</a>
      </h3>
      <span class="topic-updated">5 hours 56 minutes ago</span>
      <span class="topic-category">In <a href="#">Public Forum</a> / <a href="#">Help for version 2.0</a></span>
      <span class="topic-updater">Last post by jheiler</span>
  </header>
</article>
