{%- if site.posts.size > 0 -%}
<h2>{{ page.list_title | default: "Latest from the Blog" }}</h2>

<div class="post-list">
  {%- for post in site.posts limit:3 -%}
  <article class="post">
    <header>
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <span class="post-date">{{ post.date | date: date_format }}</span>
    </header>
    {%- if site.show_excerpts -%}
    <main class="post-excerpt">
      {{ post.excerpt }}
    </main>
    {%- endif -%}
  </article>
  {%- endfor -%}
</div>

<p class="feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}"><i class="fas fa-rss"></i> Subscribe</a>
</p>
{%- endif -%}
