<!-- _includes/navigation.html -->
{% assign segment = page.url | split: '/' %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
	<a class="navbar-brand" href="/">webtrees</a>

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#webtrees-navbar" aria-controls="webtrees-navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="webtrees-navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{% if segment[1] == 'forum' %} active{% endif %}">
				<a class="nav-link" href="https://www.webtrees.net/index.php/en/forum">
					Forum {% if segment[1] == 'forum' %}<span class="sr-only">(current)</span>{% endif %}
				</a>
			</li>
			<li class="nav-item{% if segment[1] == 'faq' %} active{% endif %}">
				<a class="nav-link" href="/faq">
					FAQ {% if segment[1] == 'faq' %}<span class="sr-only">(current)</span>{% endif %}
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Live demo</a>
				<div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
					<a class="dropdown-item" href="https://dev.webtrees.net/demo-stable">Stable version</a>
					<a class="dropdown-item" href="https://dev.webtrees.net/demo-dev">Beta version</a>
				</div>
			</li>
			<li class="nav-item{% if segment[1] == 'download' %} active{% endif %}">
				<a class="nav-link" href="/download">Download <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<div class="nav-link" id="google_translate_element"></div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" action="#">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="Search" name="q" accept-charset="utf-8">
				<span class="input-group-btn">
				<button class="btn btn-success" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</span>
			</div>
		</form>
	</div>
</nav>

<!-- Google translation widget -->
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
