<!-- _includes/navigation.html -->
{%- assign segment = page.url | split: '/' -%}

<nav id="site-navigation">
  <button id="site-nav-toggle">
    <span class="menu-icon"></span>
  </button>

  <ul>
    <li>
      <a href="#">
        Docs
      </a>
      <ul>
        <li{% if segment[1] == 'readme' %} class="active"{% endif %}><a href="{% link _readme/index.md %}">Readme{%- if segment[1] == 'readme' -%} <span class="sr-only">(current)</span>{%- endif -%}</a></li>
        <li{% if segment[1] == 'faq' %} class="active"{% endif %}><a href="{% link faq/index.md %}">FAQ{%- if segment[1] == 'faq' -%} <span class="sr-only">(current)</span>{%- endif -%}</a></li>
      </ul>
    </li>
    <li{% if segment[1] == 'blog' %} class="active"{% endif %}>
      <a href="{% link blog/index.html %}">
        Blog{%- if segment[1] == 'blog' -%} <span class="sr-only">(current)</span>{%- endif -%}
      </a>
    </li>
    <li{% if segment[1] == 'forum' %} class="active"{% endif %}>
      <a href="https://www.webtrees.net/index.php/en/forum">
        Forum{%- if segment[1] == 'forum' -%} <span class="sr-only">(current)</span>{%- endif -%}
      </a>
    </li>
    <li>
      <a href="#">Demo</a>
      <ul>
        <li><a href="https://dev.webtrees.net/demo-stable">Stable version</a></li>
        <li><a href="https://dev.webtrees.net/demo-dev">Beta version</a></li>
      </ul>
    </li>
    <li{% if segment[1] == 'download' %} class="active"{% endif %}>
      <a href="{% link download/index.md %}">
        Download{%- if segment[1] == 'download' -%} <span class="sr-only">(current)</span>{%- endif -%}
      </a>
    </li>
  </ul>
</nav>
