{%- assign segment = page.url | split: '/' -%}

<nav id="site-navigation">
    <button id="site-nav-toggle">
        <span class="menu-icon"></span>
    </button>

    <ul>
        <li>
            <a href="#">Docs</a>
            <ul>
                <li class="{% if segment[1] == 'install ' %}active {% endif %}">
                    <a href="{% link _install/index.md %}">
                        Install
                        {%- if segment[1] == 'install' -%}
                        <span class="sr-only">current page</span>
                        {%- endif -%}
                    </a>
                </li>

                <li class="{% if segment[1] == 'upgrade' %}active {% endif %}">
                    <a href="{% link _upgrade/index.md %}">
                        Upgrade
                        {%- if segment[1] == 'upgrade' -%}
                        <span class="sr-only">current page</span>
                        {%- endif -%}
                    </a>
                </li>

                <li class="{% if segment[1] == 'user' %}active {% endif %}">
                    <a href="{% link _user/index.md %}">
                        User
                        {%- if segment[1] == 'user' -%}
                        <span class="sr-only">current page</span>
                        {%- endif -%}
                    </a>
                </li>

                <li class="{% if segment[1] == 'admin' %}active {% endif %}">
                    <a href="{% link _admin/index.md %}">
                        Administrator
                        {%- if segment[1] == 'admin' -%}
                        <span class="sr-only">current page</span>
                        {%- endif -%}
                    </a>
                </li>

                <li class="{% if segment[1] == 'develop' %}active {% endif %}">
                    <a href="{% link _develop/index.md %}">
                        Developer
                        {%- if segment[1] == 'admin' -%}
                        <span class="sr-only">current page</span>
                        {%- endif -%}
                    </a>
                </li>

                <li class="{% if segment[1] == 'faq' %}active {% endif %}">
                    <a href="{% link faq/index.md %}">
                        FAQ
                        {%- if segment[1] == 'faq' -%}
                        <span class="sr-only">current page</span>
                        {%- endif -%}
                    </a>
                </li>
            </ul>
        </li>

        <li class="{% if segment[1] == 'blog' %}active {% endif %}">
            <a href="{% link blog/index.html %}">
                Blog
                {%- if segment[1] == 'blog' -%}
                <span class="sr-only">current page</span>
                {%- endif -%}
            </a>
        </li>

        <li class="{% if segment[1] == 'forum' %}active{% endif %}">
            <a href="https://www.webtrees.net/index.php/en/forum">
                Forum
                {%- if segment[1] == 'forum' -%}
                <span class="sr-only">current page</span>
                {%- endif -%}
            </a>
        </li>

        <li class="{% if segment[1] == 'demo' %}active{% endif %}">
            <a href="#">
                Demo
                {%- if segment[1] == 'demo' -%}
                <span class="sr-only">current page</span>
                {%- endif -%}
            </a>

            <ul>
                <li>
                    <a href="{{ site.demo_stable_url }}">Live demo - {{ site.latest_version}}</a>
                </li>

                <li>
                    <a href="{{ site.demo_dev_url }}">Live demo - dev</a>
                </li>

                <li class="{% if segment[2] == 'gallery' %}active{% endif %}">
                    <a href="{% link demo/gallery.md %}">Gallery</a>
                    {% if segment[2] == 'gallery' %}
                    <span class="sr-only">current page</span>
                    {% endif %}
                </li>
            </ul>
        </li>

        <li class="{% if segment[1] == 'download' %}active{% endif %}">
            <a href="#">
                Download
                {%- if segment[1] == 'download' -%}
                <span class="sr-only">current page</span>
                {%- endif -%}
            </a>

            <ul>
                <li class="{% if segment[2] == null %}active{% endif %}">
                    <a href="{% link download/index.md %}">
                        webtrees
                        {% if segment[2] == '' %}
                        <span class="sr-only">current page</span>
                        {% endif %}
                    </a>
                </li>

                <li class="{% if segment[2] == 'modules' %}active{% endif %}">
                    <a href="{% link download/modules.md %}">
                        Modules and themes
                        {% if segment[2] == 'modules' %}
                        <span class="sr-only">current page</span>
                        {% endif %}
                    </a>
                </li>

                <li class="{% if segment[2] == 'locations' %}active{% endif %}">
                    <a href="{% link download/locations.md %}">
                        Geographic data
                        {% if segment[2] == 'locations' %}
                        <span class="sr-only">current page</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
