$primary-color: #2694e8;
$secondary-color: #2fb6bc;

$text-color: #2b333a;

$breakpoint-alpha: 1200px;
$breakpoint-bravo: 900px;
$breakpoint-charlie: 600px;

$header-height-alpha: 6.5rem;
$header-height-bravo: 3.5rem;
$header-height-charlie: 2.938rem;


/*
 * Normalize/Reset
 */

@import "normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* The webtrees logo uses the Anja Eliane font.  The subset contains just the letters bestrw. */
@font-face {
  font-family: 'webtrees';
  src: url('/assets/fonts/AnjaEliane-subset.woff2') format('woff2'),
  url('/assets/fonts/AnjaEliane-subset.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
 * Global Elements
 */

html {
  overflow-x: hidden;
}

body {
  color: $text-color;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
  min-height: 100vh; // Make the footer stick to the bottom of the window
  overflow-x: hidden;
}

h1 {
  font-size: 2.75rem;
  font-weight: normal;
  margin: 0 0 1.75rem 0;
}

h2 {
  font-size: 1.625rem;
  font-weight: normal;
  margin: 0 0 1.75rem 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 0 1.75rem 0;
}

p {
  line-height: 1.75;
  margin: 0 0 1.75rem 0;
}

ol,
ul {
  margin: 0 0 1.75rem 0;

  &.list-unstyled {
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  @media (max-width: $breakpoint-charlie) {
    padding-left: 1.25rem;
  }
}

li {
  font-size: 1rem;
  line-height: 1.75rem;
}

a {
  color: #2694e8;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}

img {
  margin-bottom: 1.25rem;
  max-width: 100%;
}

hr {
  background-color: #ddd;
  border: none;
  height: 1px;
  margin: 0 0 1.75rem 0;
}

code {
  background-color: #eaeff2;
  border-radius: 3px;
  font-family: "Source Code Pro", Consolas, "Courier New", monospace;
  padding: 0.125rem 0.5rem;
  word-break: normal;
}

div[class*="language-"] {
  background-color: #092134;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  padding: 2.5rem;

  pre {
    line-height: 1.375;
    margin: 0;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  code {
    background-color: transparent;
    padding: 0;
  }
}

table {
  border-collapse: collapse;
  margin: 0 0 1.75rem 0;
  line-height: 1.375;
}

tr:nth-child(2n) {
  background-color: #f4f4f4;
}

tr:nth-child(2n+1) {
  background-color: #fcfcfc;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.313rem 0.625rem;
}

th {
  background-color: #f4f4f4;
  padding: 0.625rem;
}

/* Forms */

input {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #888;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  padding: 0.75rem 0.938rem;

  &:focus {
    box-shadow: 0 0 0 0.188rem #f4f4f4;
  }

  &[type="search"] {
    background-image: url('../img/icon_search.svg');
    background-position: 0.833rem center;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    padding: 0.75rem 0.938rem 0.75rem 2.813rem;
  }
}

button,
.button {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  box-shadow: 0.063rem 0.25rem 0.375rem #ddd;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 0.75rem 0.938rem;
  text-transform: uppercase;
  transition: background 0.2s, border 0.2s;

  &:hover {
    background-color: lighten($secondary-color, 10%);
    border: 1px solid lighten($secondary-color, 10%);
    color: #fff;
    cursor: pointer;
  }
}


/*
 * Layout Structure
 */

/* Wrappers for max width */

.wide-wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 0 2.5rem;

  @media (max-width: $breakpoint-charlie) {
    padding: 0 1.875rem;
  }
}

.narrow-wrapper {
  margin: auto;
  max-width: 720px;
  padding: 0 2.5rem;

  @media (max-width: $breakpoint-charlie) {
    padding: 0 1.875rem;
  }
}

/* Column/grid support */

.col-container {
  display: flex;
  justify-content: center;

  @media (max-width: $breakpoint-bravo) {
    flex-direction: column;

    #site-header & {
      flex-direction: row;
    }
  }
}

.one-half {
  flex-basis: 50%;

  &:first-child {
    padding-right: 1.25rem;
  }

  &:last-child {
    padding-left: 1.25rem;
  }

  &.bordered {
    &:first-child {
      border-right: 1px solid #ddd;
      padding-right: 2.5rem;
    }

    &:last-child {
      padding-left: 2.5rem;
    }
  }

  @media (max-width: $breakpoint-bravo) {
    &:first-child {
      padding: 0 0 1.25rem 0;
    }

    &:last-child {
      padding-left: 0;
    }

    &.bordered {
      &:first-child {
        border-right: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 2.5rem;
        padding: 0 0 2.5rem 0;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }
}

.one-third {
  flex-basis: 33.33%;

  &:first-child {
    padding-right: 20px;
    padding-right: 2rem;
  }

  &:nth-child(2) {
    padding: 0 1.25rem;
  }

  &:last-child {
    padding-left: 1.25rem;
  }

  @media (max-width: $breakpoint-bravo) {
    &:first-child,
    &:nth-child(2) {
      padding: 0 0 1.25rem 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}

.two-thirds {
  flex-basis: 66.66%;

  &:last-child {
    padding-left: 1.25rem;
  }

  @media (max-width: $breakpoint-bravo) {
    padding: 0 0 1.25rem 0;

    &:last-child {
      padding: 0;
    }
  }
}

/* Site Header */

#site-header {
  background-color: $primary-color;
  color: #fff;
  left: 0;
  padding: 1.875rem 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  .col-container {
    align-items: center;
  }

  input,
  button,
  .button {
    box-shadow: none;
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-bravo) {
    padding: 0.625rem 0;
  }
}

#site-title {
  color: #fff;
  font-family: webtrees, Nunito, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-right: 2.5rem;
  -webkit-text-stroke: thin black;
  text-shadow: 0.2rem 0.2rem 0.4rem gray;

  @media (max-width: $breakpoint-alpha) {
    font-size: 2rem;
    margin-right: 1.25rem;
  }

  @media (max-width: $breakpoint-charlie) {
    font-size: 1.5rem;
    margin-left: 2.5rem;
  }
}

#site-navigation {
  flex-grow: 1;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    position: relative;

    &.active > a,
    &:hover > a {
      color: $text-color;
    }
  }

  a {
    color: #fff;
    padding: 0.938rem;

    @media (max-width: $breakpoint-alpha) {
      padding: 0.938rem 0.625rem;
    }
  }

  /* Dropdown menus */

  ul ul {
    background-color: #f7f7f7;
    border-radius: 3px;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 2.25rem;
    transition: max-height 0.1s, padding 0.1s;
    width: 12.5rem;

    li {
      display: block;

      &.active a {
        color: $primary-color;
        background-color: #eaeff2;
      }
    }

    a {
      color: $text-color;
      display: block;
      padding: 0.25rem 0.875rem;

      &:hover {
        color: $primary-color;
      }
    }
  }

  ul li.opened ul {
    max-height: 31.25rem;
    padding: 0.625rem 0;
  }

  @media (max-width: $breakpoint-charlie) {
    ul {
      background-color: #f7f7f7;
      bottom: 0;
      left: -85%;
      overflow-y: scroll;
      padding: 3rem 0 0 0;
      position: fixed;
      top: 0;
      transition: left 0.1s ease-out;
      width: 85%;

      &.opened {
        left: 0;
      }
    }

    li {
      display: block;

      &.active > a {
        color: $primary-color;
        background-color: #eaeff2;
      }

      &:hover > a {
        color: $primary-color;
      }
    }

    a {
      color: $text-color;
      display: block;
      padding: 0.625rem 1.875rem;
    }

    ul ul {
      max-height: 31.25rem;
      padding: 0;
      position: static;
      width: 100%;

      a {
        color: $text-color;
        display: block;
        padding: 0.625rem 2.5rem;

        &:hover {
          color: $primary-color;
        }
      }
    }

    ul li.opened ul {
      padding: 0;
    }
  }
}

/*  Primary navigation menu toggle for mobile view */

#site-nav-toggle {
  background-color: $primary-color;
  border: none;
  border-radius: 0;
  display: none;
  left: 0;
  margin-right: 1.25rem;
  padding: 1.406rem 0.938rem;
  position: absolute;
  top: 0;
  z-index: 99;

  &.opened {
    background-color: $text-color;
  }

  @media (max-width: $breakpoint-charlie) {
    display: inline-block;
  }
}

.menu-icon {
  background: #fff;
  display: block;
  height: 0.125rem;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 1.125rem;

  #site-nav-toggle:hover & {
    background-color: $text-color;
  }

  #site-nav-toggle.opened & {
    background: transparent;
  }
}

.menu-icon::after, .menu-icon::before {
  background-color:  #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;

  #site-nav-toggle.opened:hover & {
    background-color: $primary-color;
  }

  #site-nav-toggle:hover & {
    background-color: $text-color;
  }
}

.menu-icon::before {
  top: 0.313rem;

  #site-nav-toggle.opened & {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.menu-icon::after {
  top: -0.313rem;

  #site-nav-toggle.opened & {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

#site-nav-toggle.opened:not(.steps) .menu-icon::after,
#site-nav-toggle.opened:not(.steps) .menu-icon::before {
  top: 0;
}

#google_translate_element {
  padding: 0 1.25rem;

  .goog-te-gadget-icon {
    margin-bottom: 0;

    @media (max-width: $breakpoint-alpha) {
      display: none;
    }
  }

  .goog-te-gadget-simple {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.75rem 0.938rem;

    .goog-te-menu-value {
      color: #888;
      font-family: Nunito, Arial, Helvetica, sans-serif;
      font-size: 1rem;
    }
  }

  @media (max-width: $breakpoint-bravo) {
    display: none;
  }
}

#site-search {
  @media (max-width: $breakpoint-alpha) {
    input {
      max-width: 9.375rem;
    }
  }

  @media (max-width: $breakpoint-bravo) {
    display: none;
  }
}

/* Site Body */

#site-content {
  margin-top: 6.563rem;

  @media (max-width: $breakpoint-alpha) {
    margin-top: $header-height-alpha;
  }

  @media (max-width: $breakpoint-bravo) {
    margin-top: $header-height-bravo;
  }

  @media (max-width: $breakpoint-charlie) {
    margin-top: $header-height-charlie;
  }
}

#page-content {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 3.125rem 0;
}

/* Documentation Two-Column Layout */

#documentation #page-content {
  max-width: 75rem;
  padding: 3.125rem 2.5rem;
}

#page-sidebar {
  background-color: #f7f7f7;
  padding: 3.125rem 0;
  transition: right 0.1s ease-out;

  .col-container {
    position: relative;
  }

  @media (max-width: $breakpoint-bravo) {
    bottom: 0;
    position: absolute;
    top: $header-height-bravo;
    right: -85%;
    width: 85%;

    &.opened {
      right: 0;
    }
  }

  @media (max-width: $breakpoint-charlie) {
    top: $header-height-charlie;
  }
}

/* Secondary (sidebar) navigation menu toggle for mobile view */

#secondary-nav-toggle {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $text-color;
  display: none;
  padding: 1rem 1.25rem;
  position: absolute;
  text-align: right;
  top: 0;
  left: -3.125rem;

  .fa-chevron-right {
    display: none;
  }

  &.opened {
    .fa-chevron-left {
      display: none;
    }

    .fa-chevron-right {
      display: inline;
    }
  }

  &:hover {
    background-color: #eaeff2;
    color: $primary-color;
  }

  @media (max-width: $breakpoint-bravo) {
    display: inline-block;

    &.opened {
      left: auto;
      right: 0;
    }
  }
}

#secondary-navigation {
  ul {
    padding: 0;
  }

  li {
    list-style-type: none;

    &.active a {
      background-color: #eaeff2;
      color: $primary-color;
    }
  }

  a {
    color: $text-color;
    display: block;
    padding: 0.5rem 2.5rem;

    &:hover {
      color: $primary-color;
    }
  }
}

/* Site Footer */

#site-footer {
  background-color: $text-color;
  color: #fff;
  margin: 0;
  padding: 2.5rem 0;

  a:hover {
    color: #fff;
  }
}

/* Homepage */

.hero {
  background-color: #092134;
  background-image: url('../img/hero-bg.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 2rem;
  padding: 9.375rem 3.125rem !important;
  text-align: center;

  .tagline {
    display: block;
    line-height: 1.125;
    margin: 0 auto 1.75rem auto;
    max-width: 50%;
  }

  button,
  .button {
    box-shadow: 0.063rem 0.25rem 0.375rem #041522;
    padding: 1rem 3.125rem;
  }

  @media (max-width: $breakpoint-alpha) {
    .tagline {
      max-width: 75%;
    }
  }

  @media (max-width: $breakpoint-bravo) {
    padding: 6.25rem 3.125rem !important;

    .tagline {
      max-width: 90%;
    }

    button,
    .button {
      padding: 0.75rem 0.938rem;
    }
  }

  @media (max-width: $breakpoint-charlie) {
    padding: 6.25rem 1.25rem !important;

    .tagline {
      max-width: 100%;
    }
  }
}

#home section {
  padding: 3.125rem 0;

  @media (max-width: $breakpoint-charlie) {
    padding: 1.875rem 0;
  }
}

/* Blog posts & forum topics */

#blog .post-list {
  margin-bottom: 1.25rem;

  .post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2.5rem;
    padding-bottom: 1.75rem;
  }
}

.post,
.topic {
  margin-bottom: 1.75rem;
}

.post-title,
.topic-title {
  margin-bottom: 0;

  a {
    color: $text-color;
  }
}

.post-date,
.topic-updated {
  color: #888;
  display: block;
  font-size: 1.5rem;

  #home & {
    font-size: 0.875rem;
    line-height: 1.571;
  }

  #blog & {
    font-size: 1rem;
    line-height: 1.75;
  }
}

.post-date {
  margin-bottom: 1.75rem;

  #home & {
    margin-bottom: 1.25rem;
  }
}

.topic-updated {
  margin-bottom: 0;
}

.post-excerpt, {
  font-size: 0.875rem;

  p {
    line-height: 1.571;
    margin: 0;
  }
}

.topic-category,
.topic-updater {
  display: block;
  font-size: 0.875rem;
  line-height: 1.571;
}

.pagination {
  text-align: center;

  span,
  a {
    background-color: #f7f7f7;
    border-radius: 3px;

    display: inline-block;
    padding: 0.313rem 0.625rem;
  }

  a {
    color: $text-color;

    &:hover {
      background-color: #eaeff2;
      color: $primary-color;
    }
  }

  span {
    color: #ddd;
  }

  .current {
    color: $primary-color;
  }
}

/*
 * Helpers
 */

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Text and block alignment */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
  margin-right: 1.25rem;
}

.float-right {
  float: right;
  margin-left: 1.25rem;
}

/* >100% width images */

.spill {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    max-width: calc(100% + 6.25rem);
    width: calc(100% + 6.25rem);
    -webkit-transform: translateX(-3.125rem);
    transform: translateX(-3.125rem);
}

/* Icons as images */

.icon-lg,
.icon-md {
  display: block;
  margin-bottom: 1.75rem;
}

.icon-lg {
  font-size: 4.588rem;

  &.inverted {
    border-radius: 50%;
    display: block;
    height: 8.438rem;
    padding-top: 1.875rem;
    text-align: center;
    width: 8.438rem;
  }
}

.icon-md {
  font-size: 2.188rem;

  &.inverted {
    border-radius: 50%;
    display: block;
    height: 4.688rem;
    padding-top: 1.25rem;
    text-align: center;
    width: 4.688rem;
  }
}

.inverted {
  background-color: #092134;
  color: #fff;
}

/* Alert banner */

.alert {
  background-color: #cd4448;
  color: #fff;
  padding: 1.25rem;
  text-align: center;

  a {
    color: $text-color;

    &:hover {
      color: #fff;
    }
  }

  @media (max-width: $breakpoint-charlie) {
    font-size: 0.875rem;
  }
}

/* Google site search */

.gcsc-branding,
.gsc-above-wrapper-area,
.gsc-search-box {
  display: none;
}

@import "syntax-highlighting";
