@import "normalize";

$primary-color: #2694e8;
$accent-color: #e83e8c;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Structure */

html {
  font-size: 62.5%;
}

/* Make the footer stick to the bottom of the window */
body {
  color: #2b333a;
  display: flex;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #f5f5f5;
  margin-top: 1rem;
  padding: 0.5rem 0;
}

/* Global */

h1 {
  font-size: 44px;
  font-size: 4.4rem;
  font-weight: normal;
  margin: 0 0 28px 0;
  margin: 0 0 2.8rem 0;
}

h2 {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: normal;
  margin: 0 0 28px 0;
  margin: 0 0 2.8rem 0;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 28px 0;
  margin: 0 0 2.8rem 0;
}

p {
  line-height: 28px;
  line-height: 2.8rem;
  margin: 0 0 28px 0;
  margin-bottom: 0 0 2.8rem 0;
}

ol,
ul {
  margin: 0 0 28px 0;
  margin: 0 0 2.8rem 0;

  &.list-unstyled {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  line-height: 2.8rem;
}

a {
  color: #2694e8;
  text-decoration: none;

  &:hover {
    color: #2b333a;
  }
}

code {
  background-color: #eaeff2;
  border-radius: 3px;
  font-family: "Source Code Pro", Consolas, "Courier New", monospace;
  padding: 2px 8px;
  word-break: normal;
}

div[class*="language-"] {
  background-color: #092134;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 28px;
  margin-bottom: 2.8rem;
  padding: 40px;
  padding: 4rem;

  pre {
    line-height: 22px;
    line-height: 2.2rem;
    margin: 0;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  code {
    background-color: transparent;
    padding: 0;
  }
}

table {
  border-collapse: collapse;
  margin: 0 0 28px 0;
  margin: 0 0 2.8rem 0;
  line-height: 22px;
  line-height: 2.2rem;
}

tr:nth-child(2n) {
  background-color: #f4f4f4;
}

tr:nth-child(2n+1) {
  background-color: #fcfcfc;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px 10px;
  padding: 0.5rem 1rem;
}

th {
  background-color: #f4f4f4;
  padding: 10px;
  padding: 1rem;
}

/* Forms */

input {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 0 3px #f4f4f4;
  color: #888;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 12px 15px;
  padding: 1.2rem 1.5rem;

  &[type="search"] {
    background-image: url('../img/icon_search.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding: 12px 15px 12px 45px;
  }
}

button {
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 3px;
  box-shadow: 1px 4px 6px #ddd;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 12px 15px;
  padding: 1.2rem 1.5rem;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  align-items: center;
  display: flex;
  margin: auto;
  max-width: 1200px;
}

.content-wrapper {
  margin: auto;
  max-width: 720px;
}

.documentation .content-wrapper {
  display: flex;
  max-width: 100%;
  padding: 0;
}

.footer-wrapper {
  display: flex;

  div {
    flex-basis: 33.33%;
    flex-grow: 0;
  }
}

/* Header */

#site-header {
  background-color: $primary-color;
  color: #fff;
  padding: 30px 0;
  padding: 3rem 0;

  input,
  button {
    box-shadow: none;
  }
}

#site-title {
  color: #fff;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
}

#site-navigation {
  flex-grow: 1;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    position: relative;

    &.active a,
    &:hover a {
      color: #2b333a;
    }
  }

  a {
    color: #fff;
    padding: 15px;
    padding: 1.5rem;
  }

  // Dropdown menus
  ul ul {
    background-color: #f7f7f7;
    border-radius: 3px;
    display: none;
    padding: 10px 0;
    padding: 1rem 0;
    position: absolute;
    top: 36px;
    top: 3.6rem;
    width: 200px;
    width: 20rem;

    li {
      display: block;
    }

    a {
      color: #2b333a;
      display: block;
      padding: 4px 14px;
      padding: 0.4rem 1.4rem;

      &:hover {
        color: $primary-color;
        background-color: #eaeff2;
      }
    }
  }

  ul li:hover ul {
    display: block;
  }

  button {
    display: none; // temporary
  }
}

#google_translate_element {
  padding: 0 50px;

  .goog-te-gadget-simple {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 12px 15px;
    padding: 1.2rem 1.5rem;

    .goog-te-menu-value {
      color: #888;
      font-family: Nunito, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-size: 1.6rem;
    }
  }
}

#page-content {
  padding: 50px 0;
  padding: 5rem 0;
}

.documentation #page-content {
  padding: 40px;
}

#page-sidebar {
  background-color: #f7f7f7;
}

.secondary-navigation {
  margin-top: 40px;
  margin-top: 4rem;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: #2b333a;
    display: block;
    padding: 8px 40px;
    padding: 0.8rem 4rem;

    &:hover {
      background-color: #eaeff2;
      color: $primary-color;
    }
  }
}

#site-footer {
  background-color: #2b333b;
  color: #fff;
  margin: 0;
  padding: 40px 20px;
  padding: 4rem 2rem;

  a:hover {
    color: #fff;
  }
}

/* Homepage */

section {
  overflow: auto;
}

.col-container {
  display: flex;
}

.wide-wrapper {
  margin: auto;
  max-width: 1200px;
  max-width: 120rem;
}

.one-half {
  flex-basis: 50%;

  &:first-child {
    padding-right: 20px;
    padding-right: 2rem;
  }

  &:last-child {
    padding-left: 20px;
    padding-left: 2rem;
  }

  &.bordered {
    &:first-child {
      border-right: 1px solid #ddd;
      padding-right: 40px;
      padding-right: 4rem;
    }

    &:last-child {
      padding-left: 40px;
      padding-left: 4rem;
    }
  }
}

.one-third {
  flex-basis: 33.33%;

  &:first-child {
    padding-right: 20px;
    padding-right: 2rem;
  }

  &:nth-child(2) {
    padding: 0 20px;
    padding: 0 2rem;
  }

  &:last-child {
    padding-left: 20px;
    padding-left: 2rem;
  }
}

.two-thirds {
  flex-basis: 66.66%;

  &:last-child {
    padding-left: 20px;
    padding-left: 2rem;
  }
}

.hero {
  background-color: #092134;
  background-image: url('../img/hero-bg.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 32px;
  font-size: 3.2rem;
  padding: 150px 50px !important;
  padding: 15rem 5rem !important;
  text-align: center;

  .tagline {
    display: block;
    line-height: 36px;
    line-height: 3.6rem;
    margin: 0 auto 28px auto;
    margin: 0 auto 2.8rem auto;
    max-width: 50%;
  }

  button {
    background-color: #2c25be;
    border: 1px solid #2c25be;
    box-shadow: 1px 4px 6px #000;
    padding: 16px 50px;
    padding: 1.6rem 5rem;
  }
}

.home section {
  padding: 50px 0;
  padding: 5rem 0;
}

.inverted {
  background-color: #092134;
  color: #fff;
}

.icon-lg,
.icon-md {
  display: block;
  margin-bottom: 28px;
  margin-bottom: 2.8rem;
}

.icon-lg {
  font-size: 75px;
  font-size: 7.5rem;

  &.inverted {
    border-radius: 68px;
    border-radius: 6.8rem;
    display: block;
    height: 135px;
    height: 13.5rem;
    padding-top: 30px;
    padding-top: 3rem;
    text-align: center;
    width: 135px;
    width: 13.5rem;
  }
}

.icon-md {
  font-size: 35px;
  font-size: 3.5rem;

  &.inverted {
    border-radius: 38px;
    border-radius: 3.8rem;
    display: block;
    height: 75px;
    height: 7.5rem;
    padding-top: 20px;
    padding-top: 2rem;
    text-align: center;
    width: 75px;
    width: 7.5rem;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.post,
.topic {
  margin-bottom: 28px;
  margin-bottom: 2.8rem;
}

.post-title,
.topic-title {
  margin-bottom: 0;

  a {
    color: #2b333b;
  }
}

.post-date,
.topic-updated {
  color: #888;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

.topic-updated {
  margin-bottom: 0;
}

.post-excerpt, {
  font-size: 14px;
  font-size: 1.4rem;

  p {
    line-height: 22px;
    line-height: 2.2rem;
    margin: 0;
  }
}

.topic-category,
.topic-updater {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
}

.alert {
  background-color: #f5365c;
  color: #fff;
  padding: 20px;
  padding: 2rem;
  text-align: center;

  a {
    color: #2b333b;

    &:hover {
      color: #fff;
    }
  }
}

.navbar {
  padding: 8px 16px;
  padding: 0.8rem 1.6rem;
}

.navbar-brand {
  font-size: 20px;
  font-size: 2rem;
  margin: 0 16px 0 0;
  margin: 0 1.6rem 0 0;
  padding: 5px 0;
  padding: 0.5rem 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 8px;
  padding: 0.8rem;
}

.dropdown-menu {
  margin-top: 2px;
  margin-top: 0.2rem;
  padding: 8px 0;
  padding: 0.8rem 0;
}

.dropdown-item {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 4px 24px;
  padding: 0.4rem 2.4rem;
}

/* Google site search */
.gcsc-branding,
.gsc-above-wrapper-area,
.gsc-search-box {
  display: none;
}

@import "syntax-highlighting";
