/* Footer */
footer {
	background-color: #f5f5f5;
	margin-top: 1rem;
	padding: 0.5rem 0;
}

/* Make the footer stick to the bottom of the window */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

/* Google site search */
.gsc-search-box, .gsc-above-wrapper-area, .gcsc-branding {
	display: none;
}
