<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>

<body id="{{ page.layout }}">
  <a href="#page-content" class="sr-only sr-only-focusable">Skip to main content</a>

  <header id="site-header">
    <div class="wide-wrapper">
      <div class="col-container">
        <a href="{{ "/" | relative_url }}" id="site-title">{{ site.title | escape }}</a>

        {%- include navigation.html -%}

        <form id="site-search" action="/search">
          <input type="search" placeholder="Search" name="q" accept-charset="utf-8">
        </form>
      </div>
    </div>
  </header>

  <main id="site-content" tab_index="-1"><!-- tab-index is required for skip-to-navigation in IE -->
    {{ content }}
  </main>

  <footer id="site-footer">
    {%- include footer.html -%}
  </footer>

  <script src="{{ "/assets/js/script.js" | relative_url }}"></script>
</body>
</html>
