---
layout: default
---

<div class="col-container">
  <main id="page-content">
    {%- if page.title -%}
      <h1 class="page-title">{{ page.title | escape }}</h1>
    {%- endif -%}

    {{ content }}

    {%- include edit-link.html -%}
  </main>
  <aside id="page-sidebar">
    <nav id="secondary-navigation">
      <button id="secondary-nav-toggle">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-chevron-right"></i>
      </button>

      <!-- Generate navigation links for pages in collection -->
      {%- assign doclist = site[page.collection] | sort: 'order' -%}
      <ul>
        {%- for doc in doclist -%}
        <!-- Only list child content pages -->
        {%- if doc.slug != "index" -%}
          <li{% if page.slug == doc.slug %} class="active"{% endif %}><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
  </aside>
</div>
