<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="robots" content="noindex,follow">
        <meta http-equiv="refresh" content="0;url={{ page.redirect }}">

        <title>This page has moved</title>

        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="canonical" href="{{ page.redirect }}">

        <script> window.location = "{{ page.redirect }}";</script>
    </head>

    <body>
        <p>
            This page can now be found at:
            <a href="{{ page.redirect }}">{{ page.redirect }}</a>
        </p>
    </body>
</html>
